%header
	%nav.green
		%ul.no-list.no-padding.text-center
			%li.col-md-4.inline-block.tall-padding.white-text
				-if user_signed_in?
					<%=link_to root_path, class:"right-space white-text" do %>
						
						Mi tienda
					<% end -%>
					<%=link_to ordenes_path, class:"right-space white-text" do %>
		
						Órdenes
					<% end -%>
					<%=link_to "", class:"right-space white-text" do %>
						
						Descuentos
					<% end -%>
					<%=link_to "Cerrar sesión",destroy_user_session_path,method: :delete ,class:"right-space white-text" %>
						
			<div class="li col-md-4 inline-block text-center tall-padding" >
				<%=image_tag "tiendus.png",height:"25px" %>
			<div class="li col-md-4 inline-block tall-padding">
				<%=link_to carrito_path,class:"white-text" do
					%i.mdi-action-shopping-cart
					Mi carrito
					(
					<%= @shopping_cart.productos.count %>
					)
				<% end -%>
			</div>
			</