 <header class="main-header navbar navbar-dark">

 <nav id="mainNav" class=" navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <%= link_to "TORTTUX", root_path, class: "navbar-brand page-scroll"%>
            <a class="navbar-brand" href="/">
            <img class="hidden-xs" src="/assets/logo.png" alt="Logo 128" width="64" height="64">
            <img class="hidden-sm hidden-md hidden-lg" src="/assets/logo.png" alt="Logo 128" width="32" height="32"></a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
            <%if user_signed_in? %>
                <li>
                    <%= link_to " Productos Publicados", productos_path, class: "page-scroll"%>
                </li>

                <li><%= link_to "Compras Realizadas", compras_path %></li>
<!--                 <li>
                    <a class="page-scroll" href="#portfolio">Portfolio</a>
                </li> -->
                <li>
                    <%= link_to " Perfil", edit_user_registration_path, class: "page-scroll"%>
                </li>
                <li>
                    <%=link_to " Cerrar Sesion", destroy_user_session_path, method: :delete, class: "page-scroll" %>
                </li>
                <li>
                <%=  @shopping_cart.productos.count.to_i  %><%= link_to  "Carrito",  carrito_path, class: "page-scroll" %>
                    <%#= image_tag 'carrito.png', width: 65, height: 65, alt: 'a face that is unnervingly happy'%>
                   
                <%# end %>

                </li>
              <li class="dropdown user user-menu">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                <img src="/assets/empresa1.png" width="18" height="18" class="user-image" alt="User Image">
                <span class="hidden-xs">Alexander Pierce</span>
              </a>
            <ul class="dropdown-menu">
              <!-- User image -->
              <li class="user-header">
                <img src="dist/img/user2-160x160.jpg" class="img-circle" alt="User Image">

                <p>
                  Alexander Pierce - Web Developer
                  <small>Member since Nov. 2012</small>
                </p>
              </li>
              <!-- Menu Body -->
              <li class="user-body">
                <div class="row">
                  <div class="col-xs-6 text-center">
                    <a href="#">Followers</a>
                  </div>
                  <div class="col-xs-6 text-center">
                    <a href="#">Sales</a>
                  </div>
                </div>
                <!-- /.row -->
              </li>
              <!-- Menu Footer-->
              <li class="user-footer">
                <div class="pull-left">
                  <a href="#" class="btn btn-default btn-flat">Profile</a>
                </div>
                <div class="pull-right">
                  <a href="#" class="btn btn-default btn-flat">Sign out</a>
                </div>
              </li>
            </ul>
          </li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>

      <%else%>

      <li>
          <%= link_to "Iniciar Sesion", new_user_session_path, class: "page-scroll"  %>
      </li>

<% end -%>


    
    <!-- /.container-fluid -->
</nav>
</header>